/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: #f4f8fc;
    color: #333;
  }
  
  /* Container */
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  /* Header Section */
  header {
    background: #fff;
    color: black;
    padding: 19px 0;
    margin-bottom: 50px;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }

  #hany-logo{
    border-radius: 5px;
  }

  nav {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav1{
    display: flex;
    margin-left: auto;
  }
  
  nav ul {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 15px;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .blog-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #Front-End{
    color: #2f1c6a!important;
    background-color: #d5dfff;
    border-radius: 20px;
    padding: 3px 15px;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
  }

  .blog-ind-info{
    color: #2f1c6a;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    margin: 15px 0;
  }

  #Front-End:hover{
    text-decoration: underline;
  }

  #blog-title{
    color: #2f1c6a;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  /* Sections */
  .section {
    padding: 60px 0;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #blog {
    background: #f4f8fc;
  }
  
  .blog-post {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .blog-post:hover {
    transform: translateY(-5px);
  }
  
  .post-date {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }

  .dev-img{
    display: flex;
    justify-content: center;
  }

  .dev-image{
    border-radius: 10px;
    height: 650px;
  }
  
  .blog-content p {
    color: #36344d;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .list{
    color: #36344d;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 20px;
    padding-bottom: 20px;

  }

  strong{
    font-weight: 700;
  }

  h2{
    color: #2f1c6a;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 30px;
    word-break: break-word;
    letter-spacing: 0;
  }

  .footer-icons{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;

  }
    
  /* Footer */
  footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    
  }
  footer p{
    opacity: .5;
    font-size: 14px;
    font-weight: 300;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  